<div id="about">
  <div class="container text-center">
    <h1>First to Find X</h1>
    <p class="lead">Créez votre chase aux trésor</p>
        <div class=" setting_main container row justify-content-md-center">
            <div class='left_setting col -6'>
                <h2>Qui sommes nous</h2>
                <p>The path of the righteous man is beset on all sides by the iniquities of the selfish 
                and the tyranny of evil men. Blessed is he who, in the name of charity and good will, 
                shepherds the weak through the valley of darkness, for he is truly his brother's keeper 
                and the finder of lost children. And I will strike down upon thee with great vengeance 
                and furious anger those who would attempt to poison and destroy My brothers. 
                And you will know My name is the Lord when I lay My vengeance upon thee</p>
            </div>
            <div class='right_setting col -6'>
                <h2>Fonctionnement du site</h2>
                <p>My money's in that office, right? If she start giving me some bullshit about it ain't there, 
                and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. 
                Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. 
                She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: 
                we go in there, and that nigga Winston 
                or anybody else is in there, you the first motherfucker to get shot. You understand?</p>
            </div>
        </div>
  </div>
</div>
