<footer class="bg-dark">
<div>Tous droits réservés © 2017 propulsé par Simplon.co | Conditions d’utilisation</div>
<div class="social"><a href="https://www.facebook.com/SimplonLyon/"><i class="fab fa-facebook"></i></a> <a href="https://www.instagram.com/explore/locations/109669173/simplonco/"><i class="fab fa-instagram"></i></a> <a href="https://twitter.com/simplonco"><i class="fab fa-twitter"></i></a></div>
</footer>