<header class="fixed-top bg-dark">
    <!--Main Nav-->
    {% if id_user is empty %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark flex-sm-row" id="mainNav">
            <a class="navbar-brand js-scroll-trigger" href="./"><img class="logo" src="assets/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                <li class="log nav-item">
                    <a class="nav-link js-scroll-trigger btn btn-outline-secondary" href="./#connect">Inscritpion / Connection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="./Contact#contact" title="Nous Contacter"><i class="icon fas fa-envelope"></i></a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--User Nav-->
    {% else %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark flex-sm-row" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="Home"><img class="logo" src="assets/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarResponsive">
             <h1>Bienvenue {{info.login}}</h1>
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="Setting" title="Paramétres du compte">
                        <img src="{{info.avatar}}"  width= 50 height= 50 class="img-thumbnail" >
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="Logout" title="Déconnexion">Déconnexion</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}
</header>
