<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="js/play.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFVsjqjp2Yn7tQuzH3q6prMlVdhi-_Fh0&callback=getLocation">
</script>
