<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="js/geolocalisation.js"></script>
<script src="js/ajaxrequest.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFVsjqjp2Yn7tQuzH3q6prMlVdhi-_Fh0">
</script>
