/*Basic HTML Elements*/

html {
  box-sizing: border-box;
}

body{
    margin: 0;
    padding:0;
    font-family: $font !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

    /*Header*/
    header{
         color: white;
         h1{
           font-size : 22px,
         }
  .icon{
    font-size: 30px;
    color: white;
    &:hover{
      color:$grey;
    }
  .logo{
    width : 100px;
  }
  }
    }

.log{
        font-size: 30px;
        a{
        border-color: white;
        &:hover{
          color:$grey;
        }
      }
      }

      /*Section */
    section {
      padding: 150px 0;
    }
  
    /*Footer*/
    footer {
      padding: 50px;
      width: 100%;
      color: white;
      font-size: 14px;
      font-family: $font;
      font-weight: 400;
      text-align: center;
      a{
        color: white;
        &:hover{
          color: $grey;
        }
      }
      .social{
        font-size: 30px;
        padding: 5px;
         .fab{
          padding: 10px;
        }
      }
       }
  