/*Home*/
@mixin layout_home {
    font-family : $font
    h1{
        font-family: $title;
        font-size: 14px;
    }

    a{
        font-family : $font;
        text-decoration: none;
    }

}


.left_frame{
    @include layout_home();


}
.right_frame{
    @include layout_home();
    border-left: 1px solid #dedede;

}

.records{
    font-size: 12px;
    font-family: $font;
    margin : 5px 0 10px 0;
    padding-bottom: 2px;
    border-bottom: 1px solid #dedede;
 
    .record_name{
        display: flex;
       input[type="text"]{
        width: 280px;
        margin : 0 3px 0 0;
    }

    }

    .icon{
        margin : 2px;
        font-size: 12px;
        color: white;
        &:hover{
          color:$grey;
        }
      }
}

.records_map{
    font-size: 12px;
    font-family: $font;
    margin : 5px;
    input[type="text"]{
        width: 250px;
        margin : 0 3px 0 0;
    }
    display: flex;
    justify-content: center;
}


.frame{
    .stops {
    font-size: 12px;
    font-family: $font;
    display: flex;

    .record_name{
        display: flex;

    }
    input[type="text"]{
        width: 150px;
        border: none;
    }
}

}


    .icon{
        margin : 2px;        font-size: 12px;
        color: white;
        &:hover{
          color:$grey;
        }
      }
}

.list_spot{
margin : 10px 0 0 0;
display : flex;
justify-content : center;
}

#map{
    width:  100%;
    height: 500px;
}