.setting{
    h1{
        font-family: $title;
        text-align: center;
    }
img{
    width: 75px;
}
 .setting_main{
     margin-top: 25px;
 }
   
margin: 15px;
font-family: $font;

}
.avatar{
    text-align: center;
}
@mixin setting_layout{
    h2{
        font-family: $title;
        text-align: center;
    }
    padding: 10px;
}
.left_setting {
    @include setting_layout();
}

.right_setting {
    @include setting_layout();
    border-left: 1px solid #dedede;
}

.login {
    @include setting_layout();
}