.form{
    h1{
        font-family: $title;
        text-align: center;
    }
margin: 15px;

}

@mixin form_layout{
 
    padding: 10px;
}

.subscribe {
    @include form_layout();
    border-left: 1px solid #dedede;
}

.login {
    @include form_layout();
}