{% extends 'base.twig' %}
{% block content %}
{% include 'parts/about.twig' %}
<section id="contact" class=" form container row justify-content-md-center">
        <form action='SendContact' method="POST">
        <h1> Laissez-nous un message </h1>
        <div class="badge badge-danger">{{mail_error}}</div>
        <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" name="email" placeholder="name@example.com" required>
        </div>
        <div class="form-group">
            <label for="Message">Objet</label>
            <input type="text" class="form-control" name="subject" required>
        </div>
        <div class="form-group">
            <label for="Message">Message</label>
            <textarea class="form-control" name="message" rows="5" required></textarea>
        </div>
            <button type="submit" class="btn btn-dark">Envoyer</button>
            <div class="badge badge-success">{{successful_mail}}</div>
        </form>
    </section>
{% endblock %}





