
{% extends 'base.twig' %} 
{% block content %} 
    <section class=" form container row justify-content-md-center"> 
    <!--Colonne où s'affichent les parcours et leur points--> 
        <div class='left_frame col-4 no-gutters'> 
            <h1>Mes Parcours</h1> 
            {% for key, record in records %} 
            <div class="records row no-gutters" id="{{record.id}}"> 
                <form method="POST" class="update_record"> 
                <div class="record_name"> 
                    <input type="text" class="form-control" name="record_name" value="{{record.record_name}}" required> 
                    <input type="hidden" name="id_record" value="{{record.id}}"> 
                    <button class="icon btn btn-dark" type="submit"><i class="fas fa-save"></i></button> 
                </div> 
                </form> 
                <form method="POST" class="delete_record"> 
                    <input type="hidden" name="id_record" value="{{record.id}}"> 
                    <button class="icon btn btn-dark" type="submit"><i class="fas fa-minus"></i></button> 
                </form> 
                <form method="POST" class="add_spot_record"> 
                    <input type="hidden" name="id_record" value="{{record.id}}"> 
                    <button class="icon btn btn-dark" type="submit"><i class="fas fa-plus"></i></button> 
                </form> 
                <form method="POST" class="launch_record"> 
                    <input type="hidden" name="id_record" value="{{record.id}}"> 
                    <button class="icon btn btn-dark" type="submit"><i class="fas fa-upload"></i></button> 
                </form> 
            </div> 
             {% endfor %} 
        </div> 
    <!--Fin de la colonne--> 
    <!--Colonne de la map--> 
        <div class='right_frame col-8 no-gutters'> 
            <!--Ajout de parcour--> 
            <div class="addRecord"> 
                <form method="POST" class="add_record"> 
                <div class="records_map row"> 
                    <input type="text" class="form-control" name="add_record" required> 
                    <button class="icon btn btn-dark" type="submit"><i class="fas fa-plus"></i></button> 
                </div> 
                </form> 
            </div> 
            <!--Fin --> 
        <!--Map--> 
            <div id="map"> 
            </div> 
         <!--Fin de la Map--> 
         <!--Liste des points--> 
            <div class='list_spot'> 
                <div class="frame"> 
                </div> 
            </div> 
    <!--Fin des listes de points --> 
        </div> 
    <!--Fin de la colonne Map--> 
 
    </section> 
    {% include 'parts/script.twig' %} 
{% endblock %} 
