{% extends 'base.twig' %}

{% block content %}
<div id="map" style="height : 500px; width : 500px; margin : 100Px"></div>
{% for key, spot in spots %}
    {{spot.stop_name}}<br>{{spot.latitude}}<br>{{spot.longitude}}<br>
{% endfor %}
{% include 'parts/script_play.twig' %}
{% endblock %}