{% extends 'base.twig' %}

{% block content %}
    <section class=" setting container row justify-content-md-center">
        <h1>Mise à jour du Profil</h1>
        <div class=" setting_main container row">
            <div class='left_setting col -4'>
            <form action ='UpdateProfile' method="POST" enctype="multipart/form-data">
    <!--Info -->
                <h2>Informations</h2>
                <div class="form-group">
                    <label> Login</label>
                    <input class="form-control" type="text" name="login" value="{{info.login}}">
                </div>
                <div class="form-group">
                <div  class="badge badge-danger">{{mail_error}}</div>
                    <label> Email</label>
                    <input class="form-control" type="email" name="email" value="{{info.email}}">
                </div>
                <div class="form-group">
                    <label>Ville</label>
                    <input class="form-control" type="text" name="town" value="{{info.town}}">
                </div>
            </div>
    <!--Mot de passe -->
            <div class='right_setting col -4'>
            <div  class="badge badge-danger">{{mdp_error}}</div>
                <h2>Mot de passe</h2>
                 <div class="form-group">
                    <label> Nouveau mot de passe </label>
                    <input class="form-control" type="password" name="new_pwd" value="" >
                </div>
                  <div class="form-group">
                    <label> Confirmation du nouveau  mot de passe </label>
                    <input class="form-control" type="password" name="confirm_new_pwd" value="">
                </div>
            </div>
            <div class='right_setting col -4'>
    <!--Avatar -->
                <h2>Avatar</h2>
                <div  class="badge badge-danger">{{file_error}}</div>
                <div  class="badge badge-danger">{{file_size}}</div>
                <div class="form-group avatar">
                    <img src="{{info.avatar}}" alt="avatar" class="img-thumbnail ">
                </div>
                <div class="form-group">
                    <label> Changer d'avatar</label>
                    <input class="form-control-file" type="file" name="image">
                </div>
            </div>
        </div>
    <button type="submit" class="btn btn-dark">Mettre à jour </button>
        </form>
    </section>
{% endblock %}