
{% extends 'base.twig' %}
{% block content %}
{% include 'parts/about.twig' %}
    <section id="connect"class=" form container row justify-content-md-center">
            <div  class="login col -6">
                <form method="POST" action='Connection'>
                <h1> Connection </h1>
                    <div class="form-group">
                        <label for="Login">Login</label>
                        <input type="text"  class="form-control"  placeholder="login" name='login' required>
                    </div>
                    <div class="form-group">
                        <label for="Mdp">Mot de passe</label>
                        <input type="password"  class="form-control"  placeholder="password" name='password' required>
                    </div>
                    <button type="submit" class="btn btn-dark">Valider</button>
                    <div  class="badge badge-danger">{{connect_failure}}</div>
                    </form>
            </div>
        <div class ="subscribe col -6">
            <form method="POST" action='Register'>
                <h1> Inscription </h1>
                <div class="form-group">
                    <label>Login</label>
                    <input type="text"  class="form-control" placeholder="login" name='login' required>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text"  class="form-control" placeholder="email" name='email' required>
                </div>
                <div class="form-group">
                    <label>Ville</label>
                    <input type="text"  class="form-control" placeholder="town" name='town' required>
                </div>
                <div class="form-group">
                    <label>Mot de passe</label>
                    <input type="password"  class="form-control" placeholder="password" name='password' required>
                </div>
                <div class="form-group">
                    <label>Confrimation du mot passe </label>
                    <input type="password"  class="form-control" placeholder="password" name='confirm_password' required>
                </div>
                    <button type="submit" class="btn btn-dark">Valider</button>
                    <div  class="badge badge-danger">{{mdp_error}}</div>
                    <div  class="badge badge-danger">{{mail_error}}</div>
                    <div  class="badge badge-success">{{validate_inscription}}</div>
            </form>
        </div>
    </section>
{% endblock %}