/*Variables*/
/*Basic HTML Elements*/
html {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif !important;
  display: flex;
  flex-direction: column;
  align-items: center; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/*Header*/
header {
  color: white; }
  header h1 {
    font-size: 22px; }
  header .icon {
    font-size: 30px;
    color: white; }
    header .icon:hover {
      color: #9c9ea1; }
    header .icon .logo {
      width: 100px; }

.log {
  font-size: 30px; }
  .log a {
    border-color: white; }
    .log a:hover {
      color: #9c9ea1; }

/*Section */
section {
  padding: 150px 0; }

/*Footer*/
footer {
  padding: 50px;
  width: 100%;
  color: white;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  text-align: center; }
  footer a {
    color: white; }
    footer a:hover {
      color: #9c9ea1; }
  footer .social {
    font-size: 30px;
    padding: 5px; }
    footer .social .fab {
      padding: 10px; }

/*Css for mvc/parts/base.twig*/
.form {
  margin: 15px; }
  .form h1 {
    font-family: "Raleway", sans-serif;
    text-align: center; }

.subscribe {
  padding: 10px;
  border-left: 1px solid #dedede; }

.login {
  padding: 10px; }

/*Css for mvc/UserView*/
/*Home*/
.left_frame {
  font-family: "Ubuntu", sans-serif h1;
    font-family-font-family: "Raleway", sans-serif;
    font-family-font-size: 14px; }
  .left_frame a {
    font-family: "Ubuntu", sans-serif;
    text-decoration: none; }

.right_frame {
  font-family: "Ubuntu", sans-serif h1;
    font-family-font-family: "Raleway", sans-serif;
    font-family-font-size: 14px;
  border-left: 1px solid #dedede; }
  .right_frame a {
    font-family: "Ubuntu", sans-serif;
    text-decoration: none; }

.records {
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
  margin: 5px 0 10px 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #dedede; }
  .records .record_name {
    display: flex; }
    .records .record_name input[type="text"] {
      width: 280px;
      margin: 0 3px 0 0; }
  .records .icon {
    margin: 2px;
    font-size: 12px;
    color: white; }
    .records .icon:hover {
      color: #9c9ea1; }

.records_map {
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
  margin: 5px;
  display: flex;
  justify-content: center; }
  .records_map input[type="text"] {
    width: 250px;
    margin: 0 3px 0 0; }

.frame .stops {
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
  display: flex; }
  .frame .stops .record_name {
    display: flex; }
  .frame .stops input[type="text"] {
    width: 150px;
    border: none; }

.frame .update_stop {
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
  display: flex; }
  .frame .update_stop .record_name {
    display: flex; }
  .frame .update_stop input[type="text"] {
    width: 150px;
    border: none; }

.frame .icon {
  margin: 2px;
  font-size: 12px;
  color: white; }
  .frame .icon:hover {
    color: #9c9ea1; }

.list_spot {
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center; }

#map {
  width: 100%;
  height: 500px; }

/*Css for mvc/HomeView*/
.setting {
  margin: 15px;
  font-family: "Ubuntu", sans-serif; }
  .setting h1 {
    font-family: "Raleway", sans-serif;
    text-align: center; }
  .setting img {
    width: 75px; }
  .setting .setting_main {
    margin-top: 25px; }

.avatar {
  text-align: center; }

.left_setting {
  padding: 10px; }
  .left_setting h2 {
    font-family: "Raleway", sans-serif;
    text-align: center; }

.right_setting {
  padding: 10px;
  border-left: 1px solid #dedede; }
  .right_setting h2 {
    font-family: "Raleway", sans-serif;
    text-align: center; }

.login {
  padding: 10px; }
  .login h2 {
    font-family: "Raleway", sans-serif;
    text-align: center; }

/*Css for mvc/User_SettingView*/
#about {
  padding: 150px 0 50px; }
  #about h1 {
    font-family: "Raleway", sans-serif; }

/*Css for mvc/parts/about.twig*/
